<div class="col-lg-8">
  <div class="blog-post">
    <h2><%= post.title %></h2>

    <div class="postmetadata">
      <ul>
        <li>
          <i class="icon-user"></i> <%= link_to post.author_full_name %>
        </li>

        <li>
          <i class="icon-calendar"></i><%= l post.created_at, format: :short %>
        </li>

        <li>
          <i class="icon-comment"></i> <a href="#">100 Comments</a>
        </li>
        <li>
          <i class="icon-tags"></i> <a href="#">Themes</a>, <a href="#">Template</a>
        </li>
      </ul>
    </div>


    <%= image_tag post.image.url(:medium), class: 'img-responsive' %>

    <%= simple_format post.description %>

    <%= render 'controls', post: post %>

  </div>

  <%= commontator_thread(post) %>

</div>

<%= render 'shared/sidebar' %>
