<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1><%= yield :title %></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <%= flash_message(flash) %>
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
